.container {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: system-ui;
        margin-bottom: 24px;
        &--left {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
    &__title {
        margin: 0;
    }
    &__body {
        display: flex;
        gap: 16px;
    }
}