.box__item {
  &-gradient {
    width: 2px;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(211, 203, 184, 0) 4.17%,
        #c8b05a 48.44%,
        rgba(134, 73, 2, 0.16) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.31) 0%,
        #fff 43.23%,
        #fff 60.94%,
        rgba(255, 255, 255, 0) 100%
      );

    @media screen and (max-width: 480px) {
      height: 75px;
    }
  }
  &-number {
    background: linear-gradient(-180deg, #d3cbb8, #c8b05a, #864902);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    color: #fff;
    -webkit-text-stroke: 3px transparent;
    position: relative;
    font-size: 39px;
  }
  &-description {
    strong {
      color: #fff;
      font-size: 18px;
      @media screen and (max-width: 480px) {
        font-size: #535353;
      }
    }
  }
  &-suenos {
    background: linear-gradient(117deg, #03405a 0%, #3194bf 100%);
  }

  &-top-atlantic {
    background: radial-gradient(
      137.96% 358.02% at 0% 100%,
      #15024d 0%,
      #8a023b 100%
    )
  }

  &-mega-torneo {
    background: linear-gradient(90deg, #04283a 0%, #00929e 100%);
  }

  &-sorteo-estelar {
    background: linear-gradient(49deg, #21023e 0%, #570d81 50%, #b124aa 100%),
      linear-gradient(117deg, #2f2f2f 0%, #1e1e1e 100%);
  }

  &-vip-royal {
    background: linear-gradient(117deg, #2f2f2f 0%, #1e1e1e 100%);
  }
}