@use "@/scss/breakpoints" as bp;
@use "@/scss/fonts" as font;

.defaultLink {
  font-family: "TT Norms Pro";
  text-decoration: underline;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;

  &__icon {
    margin-right: auto;
    margin-left: 4px;
    transition: all 0.2s ease;
    width: 16px;
    height: 16px;
    color: #000;
  }
  --primary: #b09304;
  --pressed: #574902;
  &-apuestas {
    --primary: #308f79;
    --pressed: #195c4c;
  }
  &:hover {
    color: var(--primary);
    .linkToPromo__icon {
      color: var(--primary);
    }
  }
  &:active {
    color: var(--pressed);
    .linkToPromo__icon {
      color: var(--pressed);
    }
  }
}
