@font-face {
  font-family: "BebasNeue";

  src: url(/src/assets/fonts/bebas_neue/BebasNeue-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";

  src: url(/src/assets/fonts/tt_norms_pro/ttnorms-regular.woff2);
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";

  src: url(/src/assets/fonts/tt_norms_pro/ttnorms-bold.woff2);
  font-weight: bold;
}
